@model BusBoard.Web.ViewModels.BusInfoDisplay
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>
 
<div class="row">
    <p class="aboutBuses">The Following buses are coming up for you: </p>
    <div class="wrap">
        @foreach (var busArrival in Model.BusArrivals)
    {
        <div class="result">
            <div class="col-md-4">
                <span class="busResult">Bus: @busArrival.VehicleId</span>
            </div>
            <div class="col-md-4">
                <span class="busResult">Station: @busArrival.StationName</span>
            </div>
            <div class="glyphicon-bell col-md-4 eta">
                <span class='busResult time'>ETA: @busArrival.ExpectedArrivalDisplay</span>
                <button id="myBtn">More Info</button>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>@busArrival.StationName</p>
                </div>
            </div>
        </div>
}
    </div>
</div>
<script>

    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
