@model BusBoard.Web.ViewModels.BusInfoDisplay
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>The Following buses are coming up for you: </p>
    @foreach (var busArrival in Model.BusArrivals)
    {
        <p>
            <span>@busArrival.VehicleId</span>
            <span>@busArrival.ExpectedArrival</span>
        </p>
    }
</div>
